@use "../../../styles/config.scss" as config;
@use "../../../styles/animations.scss" as animation;

.navBar,
.offcanvas {
  background-color: config.$color-black !important;
  color: config.$color-white !important;
}

.accordion {
  width: 100%;
  // display: flex;
  & button:focus {
    z-index: inherit;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }
  & * {
    border: none;
    background-color: config.$color-black;
    // font-weight: 600;
    color: config.$color-white;
  }
  & button::after {
    display: none;
  }
}
.itensWrapper {
  display: flex;
}
.navLink {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: config.$color-white;
  }
}
.logo,
.logoOffcanvas {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 0;
  margin: 0;
  z-index: 200;
  transform: translate(50%, 50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  // @include config.gradientBottomLeft;
  padding: 5px;
  transition: all 0.1s;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 10;
  }
}

.logoBackground,
.logoBackgroundOffcanvas {
  border-radius: 50%;
  @include config.gradientBottomLeft;
  transition: all 0.5s;
  height: 105%;
  width: 105%;
  position: absolute;
  bottom: -2%;
  right: -22%;
  @include animation.endless-spin;
}

.button {
  margin: 14px;
}
@media (min-width: 768px) {
  .button {
    display: none;
  }
}
.brandName {
  position: absolute;
  top: 0;
  right: 50%;
  padding: 0;
  margin: 0;
  transform: translate(50%, 10%);
}
.rightHalf,
.leftHalf {
}

.navItemsContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.navItem {
  margin: 0 10px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 1rem;
}
.navItemAutoMargin {
  margin: 0;
  margin-left: auto;
}
.accordionHeader {
  & button {
    width: 100%;
    cursor: default !important;
  }
}
.hiddenBody {
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.searchBtn {
  outline: solid 1px #fff;
}
.searchBtnLink {
  margin-left: 10px;
  display: flex;
  text-decoration: none;
}

.searchinput {
  outline: solid 1px #fff;
}
.searchWrapper,
.articlesLinksWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  gap: 1rem;
}
.divider {
  height: 2rem;
}
.articlesLinksWrapper {
  gap: 0;
  align-items: center;
}
.logoOffcanvas {
  bottom: 92%;
}
.logoBackgroundOffcanvas {
  bottom: -0%;
  right: 0%;
}
.offcanvasContainer {
  padding-top: 5rem;
}
.offcanvasAccordionHeader {
  & button {
    &:not(.collapsed) {
      box-shadow: none;
    }
    padding: 0 !important;
    margin: 0 !important;
  }
}
.offcanvasAccordionItem {
  padding: 1rem 1rem 1rem 2rem !important;
}
.offcanvasAccordionBody {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  .articlesLinksWrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .searchWrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: -8rem;
    left: -1rem;
    .searchBtnLink {
      margin: 0;
      flex-direction: column;
    }
  }
}
.offcanvasAccordion {
  display: flex;
  flex-direction: column;
  & * {
    font-size: 20px;
    border: none;
    background-color: config.$color-black !important;
    // font-weight: 600;
    color: config.$color-white !important;
    text-transform: capitalize;
  }
}
