.accordion {
  width: 100%;
  // display: flex;
  & button:focus {
    z-index: inherit;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }
  & * {
    border: none;
    background-color: transparent !important;
    color: black;
  }
  & button::after {
    display: none;
  }
}
.itensWrapper {
  display: flex;
}
.logo {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 0;
  margin: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: orangered;
  padding: 5px;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.button {
  margin: 14px;
}
@media (min-width: 768px) {
  .button {
    display: none;
  }
}
.brandName {
  position: absolute;
  top: 0;
  right: 50%;
  padding: 0;
  margin: 0;
  transform: translate(50%, 10%);
}
.rightHalf,
.leftHalf {
}

.navItemsContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.navItem {
  margin: 0 10px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 1rem;
}
.navItemAutoMargin {
  margin: 0;
  margin-left: auto;
}
.accordionHeader {
  & button {
    width: 100%;
    cursor: default !important;
  }
}
.hiddenBody {
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
