@use "../../../styles/config.scss" as config;
@use "../../../styles/animations.scss" as animation;

.offcanvasAccordionHeader {
  & button {
    &:not(.collapsed) {
      box-shadow: none;
    }
    padding: 0 !important;
    margin: 0 !important;
  }
}

.offcanvasAccordionBody {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  .articlesLinksWrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .searchWrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: -8rem;
    left: -1rem;
    & .searchinput {
    }
    & .searchBtn {
    }
    .searchBtnLink {
      margin: 0;
      flex-direction: column;
    }
  }
}

.navLink {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: config.$color-white;
  }
}

.offcanvas {
  background-color: config.$color-black !important;
  color: config.$color-primary !important;
  & * {
    letter-spacing: 3px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
  }
}
.logoOffcanvas {
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 0;
  margin: 0;
  z-index: 200;
  transform: translate(50%, 50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  // @include config.gradientBottomLeft;
  padding: 5px;
  transition: all 0.1s;
  bottom: 92%;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 10;
  }
}
.logoBackgroundOffcanvas {
  border-radius: 50%;
  @include config.gradientBottomLeft;
  transition: all 0.5s;
  height: 105%;
  width: 105%;
  position: absolute;
  bottom: -2%;
  right: -22%;
  @include animation.endless-spin;
  bottom: -0%;
  right: 0%;
}

.offcanvasContainer {
  padding-top: 5rem;
}

.offcanvasAccordionItem {
  padding: 1rem 1rem 1rem 2rem !important;
}

.offcanvasAccordion {
  display: flex;
  flex-direction: column;
  & *:not(button[type="submit"]) {
    font-size: 20px;
    border: none;
    background-color: config.$color-black !important;
    // font-weight: 600;
    color: config.$color-primary !important;
    text-transform: capitalize;
    &:hover {
      text-decoration: none;
      color: config.$color-white !important;
    }
    & button:hover * {
      text-decoration: none;
      color: config.$color-white !important;
    }
  }
}
