$color-text-black: #151515;

$color-black: #151515;
$color-white: #e0e0e0;
$color-gold: #ffd700;
$color-gold-2: #ffda4e;
$color-blue: #0079ff;
$color-red: #ff0051;
$color-light-gray: #e6e6e6;
$color-light-gray-background: #ebebeb;

$color-second-gradient: #ff43af;

$color-primary: #ffd700;
$color-text-nav: $color-primary;
//  this is the one we use
@mixin gradientBottomLeft {
  background-image: linear-gradient(
    to bottom,
    #ffd700,
    #ffaa28,
    #ff7b56,
    #ff5283,
    #ff43af
  );
}

@mixin gradientBottomRight {
  background-image: linear-gradient(
    to right top,
    #ffd700,
    #ffaa28,
    #ff7b56,
    #ff5283,
    #ff43af
  );
}

@mixin blackLineargradientNav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, transparent);
}
@mixin gradientTopRight {
  background-image: linear-gradient(
    to right bottom,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}
@mixin gradientLeftRight {
  background-image: linear-gradient(
    to right,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}

@mixin gradientTopBottom {
  background-image: linear-gradient(
    to bottom,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}

@mixin gradientRightLeft {
  background-image: linear-gradient(
    to left,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}

@mixin gradientBottomTop {
  background-image: linear-gradient(
    to top,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}

@mixin gradientRadial {
  background-image: radial-gradient(
    circle,
    #ffd700,
    #ffa535,
    #ff716f,
    #ff52ab,
    #e45de0,
    #ce5de4,
    #b75ee6,
    #9d5fe8,
    #cd44cb,
    #ec1ea5,
    #fc007c,
    #ff0051
  );
}
