@use "../styles/config.scss" as config;
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.pageWrapper {
  background-color: config.$color-black;
}
.ourPicksWrapper {
  // outline: in solid 1rem black;
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}
