.carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

.cariuselText {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 3px;
  font-size: 24px;
  max-width: 50rem;
  width: 90%;
}
.carouselTitle {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.carouselItem {
  position: relative;
  left: 0;
  bottom: 0;
  height: 45vh;
  width: 100%;
}
.carousel-inner {
}
@media (max-width: 750px) {
  .cariuselText {
    // width: 100%;
    font-size: 20px;
  }
  .carouselTitle {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .cariuselText {
    // width: 100%;
    font-size: 18px;
  }
  .carouselTitle {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .cariuselText {
    // width: 100%;
    font-size: 16px;
  }
  .carouselTitle {
    font-size: 18px;
  }
}
