// .container {
//   max-width: 1200px;
//   // max-width: 1000px;
//   margin: 7rem auto;
//   padding: 0 3rem;
// }

// .articleWrapper {
//   padding: 1rem;
//   margin-bottom: 3rem;
// }
// @media (max-width: 550px) {
//   .articleWrapper {
//     padding: 0;
//     margin-bottom: 5rem;
//   }
// }
@use "../../styles/config.scss" as config;
.wrapper {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  min-height: 90vh;
  scroll-snap-align: end;
}
.sectionTitle {
  width: 100%;
  grid-column: 1/1;
}

.sectionTitleWord {
}
.background {
  grid-template-columns: 3fr 1fr;

  & .sectionTitle {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: end;
  }
}
.carouselWrapper {
  background-color: config.$color-white;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel {
  width: 100%;
  max-width: 1200;
  margin: 0 auto;
}
