@use "../../styles/config.scss" as config;
.wrapper {
  // padding: 3rem 0;
  height: 90vh;
  scroll-snap-align: end;
  display: flex;
  align-items: center;
}
.helperWrapper {
  width: calc(100% - 400px);
  background-color: config.$color-white;
  border-radius: 1rem;
  padding: 4rem 0;
  box-shadow: 0 0px 30px 1px config.$color-primary;
  box-shadow: 0 0px 40px -5px #48abe0;
}
.sectionTitle {
  width: 100%;
  height: 1rem;
}

.sectionTitleWord {
}
.background {
  flex-direction: row-reverse;
}
.carouselWrapper {
}
.carousel {
}
.content {
}

@media (max-width: 1200px) {
  .helperWrapper {
    width: calc(100% - 350px);
  }
}
@media (max-width: 800px) {
  .helperWrapper {
    width: calc(100% - 310px);
  }
}
@media (max-width: 750px) {
  .helperWrapper {
    width: calc(100% - 50px);
  }
  .background {
    flex-direction: row;
  }
}
// @media (max-width: 730px) {
//   .helperWrapper {
//     width: calc(100% - 30px);
//   }
//   .background {
//     flex-direction: row;
//   }
// }
@media (max-width: 730px) {
  .helperWrapper {
    width: 300px;
    margin-left: calc((100% - 300px) / 2);
    margin-right: calc((100% - 300px) / 2);
  }
}
