// .carousel {
//   height: 90vh;
//   overflow: hidden;
//   position: relative;
// }
// .item {
// }
// .image {
//   // height: 100%;
//   // wi
//   & img {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//   }
// }
// .text {
// }
// .title {
// }
// .description {
// }
@use "../../styles/config.scss" as config;
.carousel {
  height: 90vh;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.item {
  height: 100%;
  position: relative;
}
.image {
  height: 900%;
  width: 100%;
  height: 83vh;
  width: 100%;
  margin: 0 auto;
  background-color: config.$color-black;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}
.text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background-color: config.$color-white;
  width: 50rem;
  transform: translateX(-50%);
  color: config.$color-black;
  max-width: 90%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}
.link {
  color: config.$color-blue;
}
.title {
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}
.description {
  letter-spacing: 2px;
  opacity: 0.8;
  text-indent: 2rem;
  margin: 0;
  font-size: 16px;
}
.container {
  background-color: config.$color-black;
  margin: 0;
}

@media (max-width: 750px) {
  .container {
    padding: 0;
  }
  .text {
    padding: 2rem;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .text {
    // padding: 1rem;
    max-width: 95%;
    width: 95%;
  }
  .title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 14px;
  }
}
