@use "../../styles/config.scss" as config;
$card-width: 235px;
.link,
.link:hover {
  text-decoration: none;
  font-size: 1rem;
  color: config.$color-black;
  max-width: $card-width;
  margin: 2rem 1rem 2rem 1rem;
}
.card {
  cursor: pointer;
  border: none;
  max-width: $card-width;
  margin: 1rem;
  background-color: transparent;
  margin: 0 auto;
  &:hover {
    .image {
      backface-visibility: hidden;
      & img {
        backface-visibility: hidden;
        transform: scale(1.2) translate(10px, -10px);
      }
    }
  }
}
.row {
  gap: 1rem;
}
.image {
  height: 175px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }
}
.animate {
  &::after {
    content: "";
    height: 110%;
    width: 110%;
    position: absolute;
    background-color: #fff;
    left: -10px;
    top: 0%;
    border-left: solid 4px #999;
    transform: translateX(105%);
    animation: slide-right 1s;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}
.body {
  // padding: 5px 30px;
  padding: 0;
  margin: 0;

  padding-top: 1rem;
}
.title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 550px) {
}
.label {
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 5px 1rem;
  transform: translate(50%, 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: config.$color-gold;
  white-space: nowrap;
  color: config.$color-black;
}
