@use "../../styles/config.scss" as config;

.card {
  flex-direction: row;
  // justify-content: space-between;
  // padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  transition: all 0.5s;
  &:hover {
    background-color: config.$color-light-gray;
    .image {
      backface-visibility: hidden;
      & img {
        backface-visibility: hidden;
        filter: grayscale(0);
      }
    }
  }
}
.link,
.link:hover {
  text-decoration: none;
  color: config.$color-black;
}
.image {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  & img {
    filter: grayscale(1);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }
}
.body {
  padding: 20px 30px;
}
.title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  &:hover {
    text-decoration: underline;
  }
}
@media (max-width: 550px) {
  .image {
    height: 100px;
    width: 100px;
  }
}
