@use "../../styles/config.scss" as config;

.header {
  text-align: center;
  padding: 40px 0;
  text-transform: capitalize;
  font-size: 50px;
  position: relative;
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  &::after {
    content: "";
    height: 5px;
    width: 100%;
    @include config.gradientBottomRight;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
