@use "../../styles/config.scss" as config;
.sphere {
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff,
    inset 20px 0 80px config.$color-second-gradient,
    inset -20px 0 80px config.$color-primary,
    inset 20px 0 300px config.$color-second-gradient,
    inset -20px 0 300px config.$color-primary, 0 0 50px #fff,
    -10px 0 80px config.$color-second-gradient,
    10px 0 80px config.$color-primary;
}
