@use "../../styles/config.scss" as config;
.sphere {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff,
    inset 20px 0 80px config.$color-second-gradient,
    inset -20px 0 80px config.$color-primary,
    inset 20px 0 300px config.$color-second-gradient,
    inset -20px 0 300px config.$color-primary, 0 0 50px #fff,
    -10px 0 80px config.$color-second-gradient,
    10px 0 80px config.$color-primary;
}

@media (max-width: 1200px) {
  .sphere {
    width: 250px;
    height: 250px;
  }
}
